Subject: Secret Santa Master List


Hiya Santa,

Just wanted to pass along the master list to you, in case something
goes wrong!

The master list is as follows:

{% for pair in pairs -%}
{{ pair }}
{% endfor %}

Thanks!

Rudolph
