Subject: Your 2015 secret santa match (Smith Family Secret Santa)


Hello {{ giver.name }} !!

What a Thanksgiving! I'm so stuffed from eating stuffing, sweet potatoes, deviled eggs, celery, and my favorite (yum) - Turkey! Oh you probably thought I was a vegetarian, and usually I am... but I couldn't resist just trying out one those plump tender birds and I'm soo glad I did. Mmmm mm. Scrumptious.

Well, I was asked once again to help organize the Farmer Family Secret Santa, so here I am, ready to share with you...

You are {{ receiver.name }}'s secret santa!

The spending limit this year will be 10 x pi (or $31.42)

Have fun and good luck!

Rudy

--
Follow me on twitter
@rudolphreindeer
bigred@reindeergames.xyz
